<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blieblue - About Us</title>
    <link rel="stylesheet" href="../css/style.css" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="../../public/storage/library/bootstrap.min.css">
    <script src="../../public/storage/library/bootstrap.min.js"></script>
    <!-- JQuery -->
    <script src="../../public/storage/library/jquery-3.6.0.min.js"></script>
    <!-- Google material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>
<body>
    <!-- Header loaded from assets/parts/header.html -->
    <header>
        <script src="../../public/storage/parts/header.js"></script>
    </header>
    <footer>
        <!-- Footer loaded from assets/parts/footer.js -->
        <script src="../../public/storage/parts/footer.js"></script>
    </footer>
</body>
</html>
