:root {
  --bs-breadcrumb-divider: '>';
}

#banner h1{
  font-size: 3.5em;
  letter-spacing: 0.5rem;
}

.section-title {
  margin-bottom: 0.75rem;
  border-bottom: 3px solid #676fa3;
  padding-bottom: 5px;
  width: fit-content;
  display: inline-block;
}

.section-title::before,
.section-title::after {
  content: "";
  color: #676fa3;
}

.img-box {
  background-color: #eef2ff;
}

#product .card {
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.1);
}

#product .img-box,
#product .card,
#product img,
#service .service-img,
#service img {
  border-radius: 1rem;
}

#product img {
  height: 350px;
  object-fit: cover;
}

#product .transparent-bg-img {
  height: 350px;
  object-fit: scale-down;
}

#product {
  margin: 2.5em 0;
}

section {
  margin: 7em 0;
}

#team .card {
  background-color: #eef2ff;
  border-radius: 1rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
}

#team .col-md-4 {
  margin: 1.5rem 0;
}

#banner > div {
  background-color: #676fa3;
}

#banner h1 {
  color: #f4f7f8;
}

#banner a {
  color: #f4f7f8;
  text-decoration: none;
}

#banner a:hover {
  color: #232632;
}

.breadcrumb-item.active {
  color: #f4f7f8 !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #f4f7f8 !important;
}

.pg-link a * {
  color: #ff5959;
  display: inline;
}

#journey .journey-item {
  background-color: #364063;
  color: #f4f7f8;
}

#banner .row {
  margin: 0;
}

#service img {
  width: 80%;
  object-fit: cover;
  background-color: #eef2ff;
}

#gallery img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .desc-start {
    order: 2;
  }

  #service img {
    width: 80%;
    margin: 3% 0;
  }
}