.img-box {
  background-color: #eef2ff;
}

#product .card{
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.1);
}

#product .img-box, #product .card, #product img {
  border-radius: 1rem;
}

#product img {
  height: 350px;
  object-fit: cover;
}

#product {
  margin: 2.5em 0;
}

section {
  margin: 5em 0;
}

#team .card {
  background-color: #EEF2FF;
  border-radius: 1rem;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.3);
}

#team .col-md-4{
  margin: 1.5rem 0;
}

a * {
  color: #FF5959;
  display: inline;
}

@media screen and (max-width: 991.99px) {
}

