@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

header {
  font-family: 'Quicksand', 'sans-serif';    
}

#header_blieblue_text {
  color: #3110FD;
}

.navbar-anchor > a {
  color: black;
  text-decoration: none;
  font-weight: 800;
}

.menu-hamburger {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.menu-hamburger:after {
  content: "";
  display: block;
  padding-top: 100%;
  padding-left: 100%;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.5s
}

.menu-hamburger:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

@media screen and (max-width: 950px) {


}